
h1{
    text-align: center;
    font-weight: normal;
      /* 400 is normal 700 is bold, browser have different weight limits */
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: segoe ui, futura, arial, sans-serif; */
    font-family: monospace;
}

a{
    text-decoration: none;
}

p{
    line-height: 2;

   
}