/* *{
    background-color: cyan;
} */

/* * makes universal or the whole page */
body {
    background-color: #f1faee;
}
button{
    font-size:30px;
    background-color: #a8dadc;
    
}

h1,h2 {
    color:#264653;
}

#vote {
    background-color: #48cae4;
    color:#f1faee;
}
span{
    color:#457b9d;
}

.tag {
    background-color: #f72585;
    color:#f1faee;
    font-size: 16px;
}

.post a{
    color:#d0af54;
}

footer a {
    color:#9d0208;
}