/* *{
    background-color: cyan;
} */

/* * makes universal or the whole page */
body {
    background-color: #f1faee;
}
button{
    font-size:30px;
    background-color: #a8dadc;
    
}

h1,h2 {
    color:#264653;
}

/* #vote {
    background-color: #48cae4;
    color:#f1faee;
} */
span{
    color:#457b9d;
}

.tag {
    background-color: #f72585;
    color:#f1faee;
    font-size: 16px;
}

.post a{
    color:#d0af54;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color:#9d0208;
}

input + button {
    background-color: rgb(34, 150, 5);
}

/* h2 + button {
    font-size: 20px;
    background-color:magenta;
    color:white;
} */

/* direct descendents */
footer > a{
    color: #06d6a0;
}
/* attribute selector */
/* input[type="password"]{
    color:greenyellow;
}

section[class="post"]{
    background-color: purple;
} */

a[href*="google"]{
    color:magenta;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active{
    background-color: #fb8500;
}

.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color:purple;
}

p::selection{
    background-color: #e9c46a;
}

/* 
.post button:hover {
    background-color: #e63946;
    color:#f1faee;
} */
/* the css element with more specifity will win out in the end */
/* button:hover {
    background-color: olive ;
    font-size:10px;
}

#signup{
    background-color: black;
    color: white;
} */

/* 
button {
    background-color: magenta !important;
} */